@page "/studenter"

@using Student_View.Entity
@inject Context context

<h3>Studenter</h3>

<ul>
	@foreach (Student student in context.Students)
	{
		<li>
			@student.Studentname
			<ul>
				<li>Alder: @student.Studentage</li>
			</ul>
		</li>
	})
</ul>

@code {
	Student student1 = new Student();
}
